.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 70px;
}

@media (min-width: 997px) {
  .docItemCol {
    /* max-width: 75% !important; */
    max-width: 100% !important;
    /* width: 75% !important; */
  }

/* .docItemContainer {
  margin-top: 70px;
} */

}


/* @media only screen and (max-width: 996px) {
  .docItemContainer header + *,
  .docItemContainer article > *:first-child {
    margin-top: 20px;
  }

} */