.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}


.links:hover {
  all: unset;
}



/* .links {
  text-decoration: none !important;
} */


/* 

.links {
  color: rgba(255, 255, 255, 0.4);
  width: 420px !important;
}

.links a {
  width: 420px !important;
}

.box:hover .links {
  color: rgba(255, 255, 255, .9); 
} */