/* *
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

/* .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
} */


/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .ContentBlocks {
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: auto; 
  margin-left: 16px;
  margin-right: 16px;
 }


.heroBanner {
  /* padding: 2rem 0; */
  text-align: center;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden;
  background: linear-gradient(180deg, rgba(46, 21, 43, 0) 0%, #101123 100%), url("./../../static/img/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 718px;
}

.bannerText {
  padding-top: 20rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

/* .shadow {
  position: absolute;
  background-image: url("./../../static/img/hero-shadow.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
} */

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.shadow {
  background: linear-gradient(180deg, rgba(46, 21, 43, 0) 0%, #101123 100%);
  position: relative;
  left: 0px;
  right: 0px;
  bottom: -6px;
  height: 278px;
}

.arrows {
  margin-top: 2rem;
  /* margin-top: 10rem; */
  content: url("./../../static/img/arrow.png");
  position: relative;
  height: 48px;
  align-items: center;
  margin-left: 48.33%;
  margin-right: 48.33%;
  /* right: 48.33%; */
  /* right: 50%; */
  /* margin-bottom: 10rem; */
  /* text-align: center; */
}

.arrowDiv {
  position: relative;
  text-align: center;
  position: center;


}


.figs {
  /* padding: 4rem 0; */
  text-align: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.5333333333rem;
}

/* .bannerFig {
  padding-bottom: 2rem;
  text-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
} */

.pepe {
  /* padding: 4rem 0; */
  /* width: 400px;
  height: 400px; */
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* 
.heroBanner_src-pages-index-module {
  display: absolute;
} */

/* .layout {
  position: relative;
  left: 0px;
  right: 0px;
  background: linear-gradient(180deg, rgba(46, 21, 43, 0) 0%, #101123 100%), url("./../../static/img/home-hero.png");
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
  background-position-x: center;
  min-height: 718px;
} */


/* .heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  left: 0px;
  right: 0px;
  background: linear-gradient(180deg, rgba(46, 21, 43, 0) 0%, #101123 100%), url("./../../static/img/home-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 718px;
} */

.hero__title {
  /* font-style: normal;
  font-weight: 400;
  font-size: 48.71px;
  line-height: 72px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 1rem;
  letter-spacing: 16px; */

  font-weight: 600;
  text-align: center;
  font-size: 2.566rem;
  line-height: 3.7333333333rem;
  text-transform: uppercase;
  letter-spacing: .6rem;
}

.subtext {
  margin: 0.5333333333rem 0 0;
  font-size: 1.2653333333rem;
  line-height: 1.8666666667rem;
  letter-spacing: .3333333333rem;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  opacity: .89;
}

.title {
  text-align: center;
  /* font-size: 40px; */
  margin-bottom: 12px;
}

@media only screen and (max-width: 996px) {
  .topNav {
    display: none;
  }

  .bannerText {
    padding-top: 8rem;
  }

  .ContentBlocks {
    margin-top: 550px;
   }

}



@media only screen and (max-width: 500px) {
   .arrows {
    display: none;
   }
}