.topNav {
    /* position: absolute; */
    height: 86px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);  
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5;
    padding-bottom: 0.5;
    border-bottom: solid 0.1px rgba(255, 255, 255, 0.15);
    z-index: 10;
    /* margin-bottom: 3px; */
    text-transform: uppercase;
  }

.marsLogo {
    /* position: absolute; */
    margin-left: 86px;
    margin-top: 14px;
    margin-bottom: 16px;
  }

  .linkers {
    margin-right: 86px;
  }
  
  .linkers a {
      color: rgba(255,255,255,0.6);
      font-size: var(--ifm-font-size-base);
      margin-right: 0.75rem;
      margin-left: 0.75rem;
      cursor: pointer;
  }
  
  .linkers a:hover{
    color: rgba(255,255,255,1);
    text-decoration: none;
  }
  
  .linkers a:link {
    text-decoration: none;
  }
  
  .linkers a:active {
    color: rgba(255,255,255,1);
    text-decoration: none;
  }
  
  .linkers a:visited {
    text-decoration: none;
  }

  .launchButton {
    background: #14A693;
    border-radius: 32px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.2);
   
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 16px;
    width: 125px;
    height: 32px;
  
    color: rgba(255,255,255,0.8);
    font-weight: 600;
    /* font-size: var(--ifm-font-size-base); */
    font-size: 13.3333px;
    cursor: pointer;

    text-transform: uppercase;

    border: none;
    appearance: none;
    color: #FFF
  }
  
  .launchButton:hover {
    background-color: #15BFA9;
    /* color: rgba(255,255,255,1); */
    /* transition: color var(--ifm-transition-fast) var(--ifm-transition-timing-default); */
    transition: all var(--ifm-transition-fast) ease;

  }