
.title {
    /* text-align: center;
    font-size: 40px;
    font-family: 'Inter';
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 8px; */

    font-weight: 600;
    text-align: center;
    font-size: 2.566rem;
    line-height: 3.7333333333rem;
    text-transform: uppercase;
    letter-spacing: .6rem;
}

.text {
    /* width: 50%; */
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    opacity: 0.6;
    font-family: 'Inter';
}

.figs {
    padding-bottom: .5333333333rem;
    text-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    justify-content: center;
}



.banner {
    /* padding: 4rem 0; */
    padding-top: 50rem;
    padding-bottom: 4rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.footer {
    padding: 10rem;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.footerSpacing {
    margin-bottom: 6rem;
}

.blocks {
    margin-bottom: 6rem;
}